//  Common  ============== 

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

p {
  line-height: 1.2;
  color: #777;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}