//  Responsive  

@media screen and (min-width: 600px) {
  .main-nav__item {
    display: inline-block;
    padding: 0.5em 1em;
    /* background-color: #f4f4f4; */
  }

  .main-nav__burger {
    display: none;
  }

  .services-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .s-card {
    flex-basis: 48%;
    flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .phill .container {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .s-card {
    flex-basis: 30%;
  }
}